{% extends "index.html" %}
{% block title %}Factories Dashboard{% endblock %}
{% block content %}


<div style="text-align: center; font-size: 50px; border: black solid 0.1rem; vertical-align: middle;">LISTA FABRYK</div>
<a class="d-flex align-items-center" href="/AddFactory">
      <button type="button" class="btn btn-primary btn-circle btn-lg">Dodaj</button>
    </a>

<table class="table">
    <thead>
    <tr>
      <th scope="col"  style="text-align: left;">Lp.</th>
      <th scope="col" style="text-align: left;">Nazwa</th>
        <th scope="col" class="setRight"></th>
    </tr>
  </thead>
    {% for item in data %}
    <tr>
        <td  style="text-align: left;">{{item[0]}}</td>
        <td style="text-align: left;">{{item[1]}}</td>
        <td style="text-align: center;"><button data-toggle="modal" alt={{item[0]}} type="button" class="open-AddBookDialog btn-lg btn-danger">
            Usuń</button></td>
    </tr>
    {% endfor %}

</table>

<script src="../static/js/modal.js">

</script>

<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
  <form>
    <div class="modal-content">
      <h1 style="color: #cccccc">Usuń rekord</h1>
      <p style="color: #cccccc">Czy na pewno chcesz usunąć?</p>

      <div>
          <button onclick="document.getElementById('id01').style.display='none'" type="button" class="cancelbtn">Nie</button>
          <a href="/delete/factories/" onclick="location.href=this.href+''+myValue;return false;"><button type="button" class="deletebtn">Tak</button></a>
      </div>
    </div>
  </form>
</div>

<script src="/static/js/exitModal.js">

</script>
{% endblock %}