<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">
    <title>{% block title %}Orders Helper{% endblock %}</title>
</head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<link rel="stylesheet" href="../static/styles/mainStyles.css">
<link rel="stylesheet" href="../static/styles/modal.css">
{% block styles %} {% endblock %}
<body>
<nav class="navbar navbar-expand-lg navbar-dark navbar-fixed-left"
     style="background-color: #d10404; text-color: white;">
    <div class="container-fluid">
        <a class="navbar-brand">Nawigacja</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/ClientList">Lista klientów</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/FactoriesList">Lista fabryk</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/ProductsList">Lista produktów</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/OrdersList">Lista zamówień</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/Statistics">Statystyki</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% block content %}{% endblock %}

</body>
</html>