{% extends "index.html" %}
{% block title %}Orders section{% endblock %}
{% block content %}

<form action="{{ url_for('templateForm') }}" method="POST">
    <div class="container">
        <div class="row align-items-start">
            <div class="col">
                <div class="welcomeText">
                    SEKCJA ZAMÓWIEŃ
                </div>
            </div>
        </div>
    </div>
    <div style="padding-top: 250px; padding-left: 200px; font-size: 30px;">
        Wybierz szablon
        <br>
        <div class="d-flex p-2">

            <select class="form-select" aria-label="Default select example" name="fab" style="font-size:25pt;">
                <option selected>Najczęstszy klient</option>
                <option>Najczęstszy towar</option>
            </select>
            <a class="d-flex align-items-center" href="/AddOrder" style="padding-left: 200px; padding-right: 300px;">
                <button type="button" class="btn-primary btn-circle btn-lg">Nowe zamówienie</button>
            </a>
        </div>
        <div class="mb-3">
            <button class="btn-primary btn-circle btn-lg" type="submit">Użyj szablonu</button>
        </div>
    </div>
</form>
{% endblock %}